/* TEMPLATE NUMBER 5 STYLING */

.temp-5-body {
  background: white;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}

.glass-card {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 20px;
  color: #333;
}

.glass-sidebar {
  height: 100vh;
  padding: 30px 10px;
  position: fixed;
  width: 220px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  display: flex;
  flex-direction: column;
}

.glass-sidebar a {
  text-decoration: none;
  color: rgb(38, 34, 34, 0.7);
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  transition: all 0.3s;
}

.glass-sidebar a:hover {
  color: black;
}

.glass-sidebar a.active {
  color: rgb(3, 185, 3);
}

.glass-sidebar a i {
  margin-right: 10px;
}
.sidebar-bottom {
  margin-top: auto;
}

.tabpay-logo {
  font-weight: bold;
  font-size: 2rem;
  color: #00a86b;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: 4px underline;
}
.tabpay-logo span {
  color: #e63946;
}

.dashboard-content {
  margin-left: 250px;
  padding: 20px;
}

.dashboard-h1 {
  font-weight: bold;
  font-size: xx-large;
  margin-bottom: 0;
}

.profile-area {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.profile-area i {
  font-size: 1.2rem;
}

.profile-area img {
  border-radius: 50%;
  margin-left: 10px;
  width: 30px;
  height: 30px;
}

.stats-card {
  color: #fff;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.stats-card h2 {
  font-size: 2.5rem;
  margin-bottom: 0;
}

.stats-card p {
  font-weight: bold;
}

.chart-container {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  position: relative;
}

.dropdown {
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.chart {
  height: 400px;
}
.doughnutChart {
  height: 350px;
}
.lineChart {
  height: 350px;
  background-color: rgba(231, 182, 176, 0.164);
}
/* END OF TEMPLATE NUMBER 5 STYLING */

/* TEMPLATE NUMBER 6 STYLING */
.settings-container {
  border: 2px solid black;
  border-radius: 20px;
}

.nav-tabs .nav-item {
  flex-grow: 1;
  text-align: center;
  border: 2px solid #000;
}

.nav-tabs .nav-item:first-child {
  border-left: 2px solid black; /* Merge the left tab with the container border */
  border-top-left-radius: 10px; /* Rounded corner for the first tab */
}

.nav-tabs .nav-item:last-child {
  border-right: 2px solid black; /* Merge the right tab with the container border */
  border-top-right-radius: 10px; /* Rounded corner for the last tab */
}
.nav-item .nav-link {
  color: black;
}
.nav-item .nav-link.active {
  color: #28a745;
  border: none;
}

.nav-item .nav-link:hover {
  border: none;
}

.tab-content {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  border: 2px solid black;
  margin: 15px;
}

input[type="text"],
input[type="password"],
input[type="number"] {
  width: calc(100% - 40px); /* Set a fixed width matching the screenshot */
  padding: 10px;
  margin: 10px 20px; /* Adjust margin for better alignment */
}

.submit-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  display: block;
  margin: 20px auto 0 auto;

  font-size: 16px;
}

.submit-btn:hover {
  background-color: #218838;
}

.success-message {
  border: 1px solid #28a745;
  color: #28a745;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  width: 50%;
  margin: 0 auto;

  /* display: none;  */
}

.form-control {
  box-shadow: none;
}

.form-label {
  font-weight: 500;
  color: #333;
}

.form-control::placeholder {
  color: #aaa;
}

.form-control:focus {
  border-color: #12b931;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 123, 255, 0.075),
    0 0 8px rgba(65, 216, 80, 0.6);
}

/* TODO Usisahau kutumia unique classes */
/* END OF TEMPLATE NUMBER 6 STYLING */
