{% extends "admin/model/list.html" %} {% block model_list_table %}
<div class="container">
  <form
    class="action-form"
    method="POST"
    action="{{ url_for('.action_view') }}"
  >
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
    {{ super() }}
    <div class="form-group">
      <select name="action" class="form-control">
        {% for action in actions %}
        <option value="{{ action[0] }}">{{ action[1] }}</option>
        {% endfor %}
      </select>
      <input type="submit" value="Execute" class="btn btn-primary" />
    </div>
  </form>
</div>
{% endblock %}
