{% extends "base.html" %} {% block heading %} Block Reports {% endblock %} {%
block content %}
<div class="dashboard">
  <div class="container">
    <p class="mt-2 text-gray-600 fs-5">
      Reports showing insights into block dynamics such as, contribution by
      members, overall performance, etc.
    </p>

    <div class="dashboard-content">
      <!-- Tab Navigation -->
      <ul class="nav nav-tabs p-3">
        <li class="nav-item">
          <a
            class="nav-link {% if active_tab == 'block_contribution' %}active{% endif %}"
            href="{{ url_for('main.block_reports', active_tab='block_contribution') }}"
          >
            Block Contribution</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link {% if active_tab == 'member_contribution' %}active{% endif %}"
            href="{{ url_for('main.block_reports', active_tab='member_contribution') }}"
            >Member Contribution
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link {% if active_tab == 'analytics' %}active{% endif %}"
            href="{{ url_for('main.block_reports', active_tab='analytics') }}"
            >Analytics</a
          >
        </li>
      </ul>

      <!-- Tab Panes -->
      <div class="tab-content ps-5 pb-3 pe-5 pt-1">
      <!-- Block Contribution -->
            <div
            id="block_contribution"
            class="tab-pane fade {% if active_tab == 'block_contribution' %}show active{% endif %}"
            >
            <p>
              The total amount contributed by each block to the hosting member.
            </p>
            <h4
              style="
                font-weight: 500;
                color: rgb(0, 0, 0);
                letter-spacing: 2px;
                text-decoration: underline;
                font-size: large;
              "
            >
              Filter By:
            </h4>
            <div class="flex-container mt-4">
              <div class="row">
                <div class="col-md-3">
                  <select id="block" name="block">
                    {% for block in blocks %}
                    <option value="{{ block.name }}">{{ block.name }}</option>
                    {% endfor %}
                  </select>
                </div>

                <div class="col-md-3">
                  <select id="date" name="date">
                    <option>Week 1</option>
                    <option>Week 2</option>
                    <option>Week 3</option>
                  </select>
                </div>
                <div class="col-md-3 tt-contributed">
                  {% set total_contributed = block_contributions.values()|sum %}

                  Total Contributed:
                  <span style="color: rgb(14, 169, 14)">Kes {{ total_contributed }}</span>
                </div>
              </div>
            </div>

            <table class="table table-responsive text-center mt-5">
              <thead>
                <tr>
                  <th colspan="5">
                    <div
                      style="
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                      "
                    >
                      <span>Host:</span>
                      <span class="text-success">{{ host_name }}</span>
                      <span>Date:</span>
                      <span class="text-success"> {{ meeting_date }}</span>
                    </div>
                  </th>
                </tr>
                <tr>
                  <th>Block</th>
                  <th>Amount Contributed</th>
                </tr>
              </thead>
              <tbody>
                {% for block, amount in block_contributions.items() %}
                <tr>
                  <td>{{ block }}</td>
                  <td>Kes {{ amount }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            </div>
            <!-- End Block Contribution -->

        <!-- Member Contribution -->
        <div
          id="member_contribution"
          class="tab-pane fade {% if active_tab == 'member_contribution' %}show active{% endif %}"
        >
          <p>
            The amount contributed by individual block members to the hosting
            member.
          </p>
          <h4
            style="
              font-weight: 500;
              color: rgb(0, 0, 0);
              letter-spacing: 2px;
              text-decoration: underline;
              font-size: large;
            "
          >
            Filter By:
          </h4>

          <div class="flex-container mt-4">
            <div class="row">
              <!-- Filter by Meeting Host -->
              <div class="col-md-3">
                <select id="host" name="host" onchange="filterContributions()">
                  <option value="">-- Select Host --</option>
                  {% for host in hosts %}
                  <option value="{{ host.id }}">{{ host.full_name }}</option>
                  {% endfor %}
                </select>
              </div>

              <!-- Filter by Member -->
              <div class="col-md-3">
                <select
                  id="member"
                  name="member"
                  onchange="filterContributions()"
                >
                  <option value="">-- Select Member --</option>
                  {% for member in members %}
                  <option value="{{ member.id }}">
                    {{ member.full_name }}
                  </option>
                  {% endfor %}
                </select>
              </div>

              <!-- Filter by Contribution Status -->
              <div class="col-md-3">
                <select
                  id="status"
                  name="status"
                  onchange="filterContributions()"
                >
                  <option value="">-- Select Status --</option>
                  <option value="Pending">Pending</option>
                  <option value="Contributed">Contributed</option>
                </select>
              </div>
            </div>
          </div>

          <table class="table table-responsive text-center">
            <thead>
              <tr>
                <tr>
                  <th colspan="5">
                    <div
                      style="
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                      "
                    >
                      <span>Host:</span>
                      <span class="text-success">{{host_name}}</span>
                      <span>Date:</span>
                      <span class="text-success"> {{meeting_date}}</span>
                    </div>
                  </th>
                </tr>
                <th>Full Names</th>
                <th>Status</th>
                <th>Amount</th>
                <th>Send reminder</th>
              </tr>
            </thead>
            <tbody id="contribution-details">
              {% for member in members %}
              <tr>
                <td>{{member.full_name}}</td>
                <td
                  style="color: {% if member.status == 'Pending' %}red{% else %}#4c9323{% endif %}"
                >
                  {{member.status}}
                </td>
                <td>Kes {{member.amount}}</td>
                <td>
                  <button
                    class="btn"
                    style="
                      background-color: #4c9323;
                      color: white;
                      font-size: small;
                    "
                  >
                    SEND
                  </button>
                </td>
              </tr>
              {% else %}
              <tr>
                <td colspan="4">No contributions found</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- /Member Contribution -->

        <!--  Analytics -->
        <div
          id="analytics"
          class="tab-pane fade {% if active_tab == 'analytics' %}show active{% endif %}"
        >
          <div class="d-flex justify-content-center">
            <div>
              <h4
                style="
                  font-weight: 500;
                  color: rgb(0, 0, 0);
                  letter-spacing: 2px;
                  text-decoration: underline;
                  font-size: large;
                "
              >
                Filter By:
              </h4>

              <div class="flex-container mt-4">
                <div class="row mb-3">
                  <div class="col-md-6" style="max-width: fit-content">
                    {{ schedule_form.block.label }} {{
                    schedule_form.block(class="select") }}
                  </div>
                  <div class="col-md-6" style="max-width: fit-content">
                    {{ schedule_form.zone.label }} {{
                    schedule_form.zone(class="select") }}
                  </div>
                </div>
              </div>

              <!-- Contribution Overview Section -->
              <div class="mt-3 ms-auto">
                <div class="d-flex mb-4">
                  <h3 style="font-weight: bold">Contribution Overview</h3>
                  <button
                    style="
                      color: white;
                      background-color: #94989c;
                      border: none;
                      margin-left: 20px;
                      border-radius: 5px;
                    "
                  >
                    This Week
                  </button>
                </div>
                <div
                  class="host-chart ms-5"
                  style="height: 250px; width: 250px"
                >
                  <canvas id="contributionChart"></canvas>
                </div>
              </div>
            </div>

            <script>
              const ctx = document
                .getElementById("contributionChart")
                .getContext("2d");
              const contributionChart = new Chart(ctx, {
                type: "doughnut",
                data: {
                  labels: ["Contributed", "Pending"],
                  datasets: [
                    {
                      label: "Contribution Overview",
                      data: [512, 245],
                      backgroundColor: ["orange", "red"],
                      borderWidth: 1,
                    },
                  ],
                },
                options: {
                  responsive: true,
                  plugins: {
                    legend: {
                      position: "bottom",
                    },
                  },
                },
              });
            </script>
          </div>
        </div>

        <!--/  Analytics -->
      </div>
    </div>
  </div>
</div>

<script>
  setTimeout(function () {
    const flashContainer = document.getElementById("flash-container");
    if (flashContainer) {
      flashContainer.style.display = "none"; // Hide the container after 5 seconds
    }
  }, 5000); // 5000 milliseconds = 5 seconds
</script>
{% endblock %}
