<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new account</title>
    <link href="https://cdn.tailwindcss.com" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="container">
        <div class="image-section"></div>
        <div class="form-section">
            <h1>Create new Account</h1>
            <p>Already Registered? Login</p>
            
            <hr>
            <label for="Jiara Martins">Please enter your Full Names</label>
            <input type="text" id="#" placeholder="Jiara Martins" required>
            <label for="email">Please enter Email</label>
            <input type="email" id="email" placeholder="hello@reallygreatsite.com" required>
            <label for="password">Please enter password</label>
            <input type="password" id="password" placeholder="******" required>
            <label for="ID No">ID No:</label>
            <input type="password" id="password" placeholder="xxxxxxxx" required>
            <button type="submit">SIGN UP</button>
        </div>
    </div>
</body>
</html>