{% extends 'auth.html' %} {% block content %}
<div class="container-fluid">
  <div class="main-container">
    <div class="row">
      <div class="col-lg-6">
        <div class="image-section"></div>
      </div>
      <div class="col-lg-6">
        <div class="head-form">
          <div class="p-4">
            <h1>Forgot Password</h1>
            <p>New Password</p>
          </div>
            <hr />
            <div class="form-section">
              <div>
                <label for="email">Please enter Email</label>
                <input
                  type="email"
                  id="email"
                  placeholder="hello@reallygreatsite.com"
                  required
                />
              </div>
            
              <button type="submit">SEND</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
