{% extends 'base.html' %} {% block heading %}Regular Block Hosting {% endblock
%} {% block content %}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
/>
<!-- Dashboard Content -->
<div class="dashboard">
  <div class="container">
    <p class="host">
      A cornerstone of community engagement, regular block meetings are held
      weekly at the designated host's homestead, where members commit to
      contributing a pre-agreed amount, fostering a culture of mutual support
      and collective progress.
    </p>

    <div class="dashboard-content">
      <!-- Tab Navigation -->
      <ul class="nav nav-tabs p-3">
        <li class="nav-item">
          <a
            class="nav-link {% if active_tab == 'schedule_meeting' %}active{% endif %}"
            href="{{ url_for('main.host', active_tab='schedule_meeting') }}"
            >Schedule Weekly Block Meeting</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link {% if active_tab == 'upcoming_block' %}active{% endif %}"
            href="{{ url_for('main.host', active_tab='upcoming_block') }}"
            >Upcoming Block</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link {% if active_tab == 'block_members' %}active{% endif %}"
            href="{{ url_for('main.host', active_tab='block_members') }}"
            >Block Members</a
          >
        </li>
      </ul>

      <!-- Tab Panes -->
      <div class="tab-content">
        <!-- Schedule Weekly Block Meeting -->
        <div
          id="schedule_meeting"
          class="tab-pane fade {% if active_tab == 'schedule_meeting' %}show active{% endif %}"
        >
          <p class="text-center mb-2 p-3 fs-4">
            Schedule the Weekly Block Meeting
          </p>
          <form
            method="POST"
            action="{{ url_for('main.host', active_tab='schedule_meeting') }}"
          >
            {{ schedule_form.hidden_tag() }}

            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  {{ schedule_form.block.label }} {{
                  schedule_form.block(class="select") }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  {{ schedule_form.zone.label }} {{
                  schedule_form.zone(class="select") }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                {{ schedule_form.member.label }} {{
                schedule_form.member(class="select") }}
              </div>
              <style>
                .input-with-icon {
                  position: relative;
                }

                .input-with-icon i {
                  position: absolute;
                  left: 10px; /* Adjust as necessary */
                  top: 40%;
                  transform: translateY(-50%);
                  color: #2cde10; /* Change color as necessary */
                  pointer-events: none; /* Ensure clicks go through to input */
                }

                .input {
                  padding-left: 30px; /* Adjust padding to prevent text overlap with icon */
                }
              </style>
              <div class="col-md-6">
                {{ schedule_form.date.label }}
                <div class="input-with-icon">
                  <i class="fas fa-calendar-alt"></i>
                  {{ schedule_form.date(class="input", placeholder="YYYY-MM-DD
                  HH:MM:SS") }}
                </div>
              </div>
            </div>

            <button type="submit" name="schedule_submit" class="submit-btn">
              {{ schedule_form.submit.label.text }}
            </button>
            {% with messages = get_flashed_messages(with_categories=true) %} {%
            if messages %}
            <div
              class="container mt-3"
              id="flash-container"
              style="max-width: 500px"
            >
              {% for category, message in messages %}
              <div
                class="alert alert-{{ category }} alert-dismissible fade show"
                role="alert"
              >
                {{ message }}
              </div>
              {% endfor %}
            </div>
            {% endif %} {% endwith %}
          </form>
        </div>

        <!--/ Schedule Weekly Block Meeting -->

        <!-- Upcoming Block -->
        <div
          id="upcoming_block"
          class="tab-pane fade {% if active_tab == 'upcoming_block' %}show active{% endif %}"
        >
          <h5 class="text-center mt-2 mb-1">Upcoming Block</h5>
          <form
            method="GET"
            action="{{ url_for('main.host', active_tab='upcoming_block') }}"
          >
            <div class="row pb-2 pt-1">
              <!-- Block Details Section -->
              <div class="col-md-6 d-flex justify-content-center">
                <div class="card p-4">
                  <h6 class="mb-5">Block Details</h6>
                  <p><strong>Block Name:</strong> {{meeting_block}}</p>
                  <p><strong>Zone Name:</strong> {{meeting_zone}}</p>
                  <p><strong>The Host:</strong> {{host}}</p>
                  <p><strong>When:</strong>{{when}}</p>
                  <p>
                    Wrong meeting details?
                    <a
                      href="{{ url_for('main.host', active_tab='schedule_meeting') }}"
                      class="btn btn-small btn-warning"
                    >
                      Edit
                    </a>
                  </p>

                  <button
                    type="button"
                    class="payment-link-btn"
                    onclick="generatePaymentLink()"
                  >
                    GENERATE PAYMENT LINK
                  </button>
                  <div class="payment-link-container" id="paymentLinkContainer">
                    <span class="payment-text" id="paymentLinkText"
                      >{{paymentlink }}</span
                    >
                    <button class="copy-button" onclick="copyToClipboard()">
                      COPY
                    </button>
                  </div>
                </div>
              </div>

              <!-- Communicate & Send Payment Link Section -->
              <div class="col-md-6 d-flex justify-content-center">
                <div class="card p-4">
                  <h6 class="no-wrap mb-5">Communicate & Send Payment Link</h6>
                  <label for="message">Message:</label>
                  <textarea
                    id="message"
                    class="form-control mt-4"
                    rows="6"
                    style="height: 150px"
                  >
                      Dear Member, 
                      Upcoming block is hosted by {{meeting_zone}}  and the host is {{host}}. Make payment through this link: {{paymentlink}} or through the paybill : xxxxxx Account Number: Your Phone Number."
  
                      </textarea
                  >

                  <button class="submit-btn" onclick="sendMessage()">
                    SEND
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>

        <!--/ upcoming Block -->

        <!-- Block Members -->
        <div
          id="block_members"
          class="tab-pane fade {% if active_tab == 'block_members' %}show active{% endif %} ps-4 pb-2"
        >
          <h4
            style="
              font-weight: 500;
              color: rgb(0, 0, 0);
              letter-spacing: 2px;
              text-decoration: underline;
              font-size: large;
            "
          >
            Filter By:
          </h4>

          <div class="flex-container mt-4">
            <div class="row">
              <div class="col-md-3" style="max-width: fit-content">
                {{ schedule_form.block.label }} {{
                schedule_form.block(class="select") }}
              </div>
              <div class="col-md-3" style="max-width: fit-content">
                {{ schedule_form.zone.label }} {{
                schedule_form.zone(class="select") }}
              </div>
            </div>
          </div>

          <table class="table table-responsive text-center" id="membersTable">
            <thead>
              <tr>
                <th>Full Names</th>
                <th>Phone Number</th>
                <th>ID Number</th>
                <th>Edit</th>
                <th>Remove</th>
              </tr>
            </thead>
            <tbody>
              {% for member in members %}
              <tr>
                <td>{{ member.full_name }}</td>
                <td>{{ member.phone_number }}</td>
                <td>{{ member.id_number }}</td>

                <td>
                  <button
                    class="btn"
                    style="
                      color: green;
                      background-color: white;
                      font-size: 25px;
                      padding: 0;
                      margin: 0;
                    "
                    data-bs-toggle="modal"
                    data-bs-target="#editModal{{ member.id }}"
                  >
                    <i class="bi bi-pencil-square"></i>
                  </button>
                </td>
                <td>
                  <button
                    class="btn"
                    style="
                      color: white;
                      background-color: rgb(200, 26, 26);
                      border-radius: 20px;
                    "
                    data-bs-toggle="modal"
                    data-bs-target="#removeModal{{ member.id }}"
                  >
                    <i class="bi bi-trash3-fill"></i>
                  </button>
                </td>
              </tr>

              <!-- Edit Member Modal -->
              <div
                class="modal fade"
                id="editModal{{ member.id }}"
                tabindex="-1"
                aria-labelledby="editModalLabel{{ member.id }}"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5
                        class="modal-title"
                        style="color: #4c9323"
                        id="editModalLabel{{ member.id }}"
                      >
                        Edit Member
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <!-- Flash messages here -->
                    {% with messages =
                    get_flashed_messages(with_categories=true) %} {% if messages
                    %}
                    <div class="alert alert-dismissible fade show" role="alert">
                      {% for category, message in messages %}
                      <div class="alert alert-{{ category }}">
                        {{ message }}
                      </div>
                      {% endfor %}
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="alert"
                        aria-label="Close"
                      ></button>
                    </div>
                    {% endif %} {% endwith %}
                    <div class="modal-body">
                      <form
                        id="editForm{{ member.id }}"
                        method="post"
                        action="{{ url_for('main.host', user_id=member.id,active_tab='block_members') }}"
                        novalidate
                      >
                        {{ update_form.hidden_tag() }}

                        <div class="mb-3">
                          {{
                          update_form.full_name.label(class="update_form-label")
                          }} {{
                          update_form.full_name(class="update_form-control",
                          value=member.full_name) }} {% if
                          update_form.full_name.errors %}
                          <div class="text-danger">
                            {{ update_form.full_name.errors[0] }}
                          </div>
                          {% endif %}
                        </div>
                        <div class="mb-3">
                          {{
                          update_form.phone_number.label(class="update_form-label")
                          }} {{
                          update_form.phone_number(class="update_form-control",
                          value=member.phone_number) }} {% if
                          update_form.phone_number.errors %}
                          <div class="text-danger">
                            {{ update_form.phone_number.errors[0] }}
                          </div>
                          {% endif %}
                        </div>
                        <div class="mb-3">
                          {{
                          update_form.id_number.label(class="update_form-label")
                          }} {{
                          update_form.id_number(class="update_form-control",
                          value=member.id_number, readonly=True) }}
                        </div>
                        <div class="mb-3">
                          {{
                          update_form.member_zone.label(class="update_form-label")
                          }} {{
                          update_form.member_zone(class="update_form-control",
                          value=member.zone_id, readonly=True) }}
                        </div>
                        <div class="mb-3">
                          {{
                          update_form.bank_id.label(class="update_form-label")
                          }} {{ update_form.bank_id(class="update_form-control",
                          value=member.bank_id, readonly=True) }}
                        </div>
                        <div class="mb-3">
                          {{
                          update_form.account_number.label(class="update_form-label")
                          }} {{
                          update_form.account_number(class="update_form-control",
                          value=member.acc_number, readonly=True) }}
                        </div>

                        <button
                          type="submit"
                          class="submit-btn"
                          name="edit_member_submit"
                        >
                          Save Changes
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Remove Member Modal -->
              <div
                class="modal fade"
                id="removeModal{{ member.id }}"
                tabindex="-1"
                aria-labelledby="removeModalLabel{{ member.id }}"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5
                        class="modal-title"
                        style="color: #4c9323"
                        id="removeModalLabel{{ member.id }}"
                      >
                        Remove Member
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    {% with messages =
                    get_flashed_messages(with_categories=true) %} {% if messages
                    %}
                    <div class="alert alert-dismissible fade show" role="alert">
                      {% for category, message in messages %}
                      <div class="alert alert-{{ category }}">
                        {{ message }}
                      </div>
                      {% endfor %}
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="alert"
                        aria-label="Close"
                      ></button>
                    </div>
                    {% endif %} {% endwith %}
                    <div class="modal-body">
                      Are you sure you want to remove {{ member.full_name }}?
                    </div>
                    <div class="modal-footer">
                      <form
                        id="removeForm{{ member.id }}"
                        method="post"
                        action="{{ url_for('main.host', user_id=member.id) }}"
                      >
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-bs-dismiss="modal"
                        >
                          Cancel
                        </button>
                        <input type="hidden" name="_method" value="DELETE" />

                        <input
                          type="hidden"
                          name="csrf_token"
                          value="{{ csrf_token() }}"
                        />

                        <button
                          type="submit"
                          class="btn btn-danger"
                          name="remove_member_submit"
                        >
                          Remove
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <!--/ Block Members -->
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    flatpickr("input[name='date']", {
      enableTime: true,
      dateFormat: "Y-m-d H:i:S",
    });
  });
</script>
{% endblock %}
