{% extends 'base.html' %}
{% block heading %}Manage Contribution
{% endblock %}

{% block content %}
    <div class="dashboard-content">
      <div class="container">

    <h2>Manage Contribution</h2>
    <p>Initiate an M-Pesa push notification to facilitate member contributions. Transfer the collected funds to the designated host bank account. Send reminder messages to members who have not yet made their contributions and generate a payment link where necessary.</p>
    
    <div class="frame-buttons">
        <button class="frame-button active">Request Payment</button>
        <button class="frame-button">Send to Bank</button>
    </div>

    <div class="frame">
        <div class="form-inline">
            <div class="form-row">
                <label for="block">Select Block</label>
                <select id="block" class="dropdown">
                    <option>Block 1</option>
                    <option>Block 2</option>
                    <option>Block 3</option>
                    <option>Block 4</option>
                    <option>Block 5</option>
                    <option>Block 6</option>
                </select>
            </div>

            <div class="form-row">
                <label for="member">Select Block Member</label>
                <select id="member" class="dropdown">
                    <option>Patrick</option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <label for="amount">Contribution Amount</label>
            <input type="text" id="amount" class="input-field" >
        </div>

        <button class="send-button">SEND MPESA PUSH</button>
    </div>
</div>
</div>
{% endblock %}
