{% extends 'auth.html' %} {% block content %}
<div class="container-fluid">
  <div class="main-container">
    <div class="row">
      <div class="col-lg-6">
        <div class="image-section"></div>
      </div>
      <div class="col-lg-6">
        <div class="head-form">
          <div class="p-3">
            <h1>
              Create new <br />
              Account
            </h1>
            <p>
              Already Registered?
              <a
                href="{{url_for('main.login')}}"
                style="text-decoration: none; color: #3fb411"
                >Login</a
              >
            </p>
          </div>
          <div class="hr"><hr /></div>

          <div class="form-section">
            <div>
              <label for="name">Please enter your Full Names</label>
              <input
                type="text"
                id="name"
                placeholder="Jiara Martins"
                required
              />
            </div>
            <div>
              <label for="email">Please enter Email</label>
              <input
                type="email"
                id="email"
                placeholder="hello@reallygreatsite.com"
                required
              />
            </div>
            <div>
              <label for="password">Please enter password</label>
              <input
                type="password"
                id="password"
                placeholder="******"
                required
              />
            </div>
            <div>
              <label for="ID No" class="label d-block">ID No:</label>
              <input type="number" id="ID No" placeholder="xxxxxxxx" required />
            </div>
            <button type="submit">SIGN UP</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
