{% extends "base.html" %} {% block heading %}Community Umbrella settings{%
  endblock %} {% block content %}
 
{% macro render_flash_messages() %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="container mt-3" id="flash-container" style="max-width: 500px;"> <!-- Adjust the max-width here -->
  {% for category, message in messages %}
  <div
    class="alert alert-{{ category }} alert-dismissible fade show"
    role="alert"
  >
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

  </div>
  {% endfor %}
</div>
{% endif %}
{% endwith %}
{% endmacro %}

  
  
  <!-- Dashboard Content -->
  <div class="dashboard mt-2">
    <div class="container">
      <div class="dashboard-paragraph">
        <p class="mb-4 fs-6">
          Configure your user account with ease by managing your profile, setting
          up your community umbrella, defining blocks under that umbrella,
          establishing zones within each block, adding members to their respective
          zones, inviting and managing committee members.
        </p>
      </div>
  
      <div class="dashboard-content">
        <!-- Tab Navigation -->
         
  <ul class="nav nav-tabs p-3">
    <li class="nav-item">
        <a class="nav-link {% if active_tab == 'profile' %}active{% endif %}" href="{{ url_for('main.settings', active_tab='profile') }}">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if active_tab == 'committee' %}active{% endif %}" href="{{ url_for('main.settings', active_tab='committee') }}">Add Committee</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active_tab == 'umbrella' %}active{% endif %}" href="{{ url_for('main.settings', active_tab='umbrella') }}">Community Umbrella</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if active_tab == 'block' %}active{% endif %}" href="{{ url_for('main.settings', active_tab='block') }}">Block Definition</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if active_tab == 'zone' %}active{% endif %}" href="{{ url_for('main.settings', active_tab='zone') }}">Zone Definition</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if active_tab == 'member' %}active{% endif %}" href="{{ url_for('main.settings', active_tab='member') }}">Add Members</a>
    </li>
  </ul>
  
  
        <!-- Tab Panes -->
        <div class="tab-content d-flex justify-content-center">
          <!-- PROFIILE -->
          <div id="profile" class="tab-pane fade {% if active_tab == 'profile' %}show active{% endif %}">
            
            <form method="POST" enctype="multipart/form-data" action="{{ url_for('main.settings', active_tab='profile') }}">
              {{ profile_form.hidden_tag() }}

              <img class="rounded-circle account-img" src="{{ url_for('static', filename='images/' + current_user.image_file) }}" alt="Profile_image"/>

              <div class="form-group">
                {{ profile_form.picture.label() }} {{ profile_form.picture(class="profile_form-control-file") }}
                {% if profile_form.picture.errors %} {% for error in profile_form.picture.errors %}
                <span class="text-danger">{{ error }}</span><br />
                {% endfor %} {% endif %}
              </div>

              <div class="row mb-5 mt-2">
                <div class="col-md-6">
                  <div class="mb-3">
                      {{ profile_form.full_name.label }} {{ profile_form.full_name(class="input") }}  
                     
                  
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    {{ profile_form.id_number.label }} {{ profile_form.id_number(class="input") }}     
            
                  </div>
                </div>
              </div>
  
              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    {{ profile_form.email.label }} {{ profile_form.email(class="input") }}      
            
  
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    {{ profile_form.password.label }} {{ profile_form.password(class="input") }}
                    
            
                  </div>
                </div>
              </div>
              <button type="submit" name="profile_submit" class="submit-btn">
                {{ profile_form.submit.label.text }}
            </button>       
              
            {{ render_flash_messages() }}
  
            </form>
          </div>
          <!-- END OF PROFIILE -->
  
          <!-- COMMITTEE TAB -->
          <div id="committee" class="tab-pane fade {% if active_tab == 'committee' %}show active{% endif %}">
            <form method="POST" action="{{url_for('main.settings',active_tab='committee')}}">
              {{ committee_form.hidden_tag() }}
              <div class="row mb-5 mt-2">
                <div class="col-md-6">
                  <div class="mb-3">
                    {{ committee_form.full_name.label }}
                     {{ committee_form.full_name(class="input", readonly=True) }}
                  
                  
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    {{ committee_form.id_number.label }} 
                    {{ committee_form.id_number(class="input") }}
                  
  
                  </div>
                </div>
              </div>
  
              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="role">{{ committee_form.role.label }}</label>
                    <select class="select" id="role" name="role">
                        <option value="" disabled selected>Please select a role</option>  <!-- Disabled, placeholder option -->
                        {% for value, label in committee_form.role.choices %}
                            <option value="{{ value }}" {% if committee_form.role.data == value %} selected {% endif %}>
                                {{ label }}
                            </option>
                        {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    {{ committee_form.phone_number.label }} {{ committee_form.phone_number(class="input",readonly=True) }}
                
  
                  </div>
                </div>
              </div>
              <button type="submit" name="committee_submit" class="submit-btn">
                {{ committee_form.submit.label.text }}
            </button>
  
            {{ render_flash_messages() }}
  
            </form>
          </div>
          <!--/ COMMITTEE TAB -->
  
          <!-- COMMUNITY UMBRELLA TAB -->
          <div id="umbrella" class="tab-pane fade {% if active_tab == 'umbrella' %}show active{% endif %}">
            <p class="p-3">
              Establish your community's foundation by creating overarching
              umbrellas that represent geographic areas, such as counties,
              constituencies, or wards. For example, 'Bomet East' becomes a
              top-level umbrella, under which you can create distinct blocks,
              fostering collaboration and organization at the local level.
            </p>
            <form method="POST" action="{{url_for('main.settings',tab='umbrella')}}">
              {{ umbrella_form.hidden_tag() }}
  
              <div class="row p-2 d-flex justify-content-center">
                <div class="col-md-4">
                  <div class="mb-3">
                    {{ umbrella_form.umbrella_name.label }}{% if
                      umbrella_form.umbrella_name.errors %}  {{ umbrella_form.umbrella_name(class="input is-invalid") }}
                      <div class="invalid-feedback">
                        {% for error in umbrella_form.umbrella_name.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                      {% else %} {{ umbrella_form.umbrella_name(class="input") }} {%
                        endif %}
                   
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="mb-3">
                    {{ umbrella_form.location.label }}{% if
                      umbrella_form.location.errors %} {{ umbrella_form.location(class="input is-invalid") }}
                      <div class="invalid-feedback">
                        {% for error in umbrella_form.location.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                      {% else %} {{ umbrella_form.location(class="input") }} {%
                        endif %}
                  </div>
                </div>
              </div>
              <button type="submit" name="umbrella_submit" class="submit-btn">
                {{ umbrella_form.submit.label.text }}
            </button>
                
            {{ render_flash_messages() }}
  
            </form>
          </div>
  
          <!-- COMMUNITY UMBRELLA TAB -->
  
          <!-- BLOCK DEFINITION -->
          <div id="block" class="tab-pane fade {% if active_tab == 'block' %}show active{% endif %}">
            <p>
              Organize your community's structure by defining distinct blocks
              within each umbrella.
            </p>
            <form method="POST" action="{{url_for('main.settings',active_tab='block')}}">
              {{ block_form.hidden_tag() }}
              <div class="row p-4">
                <div class="col-md-6">
                  <div class="mb-3">
                    {{ block_form.block_name.label }} {{ block_form.block_name(class="input") }}
                    <div class="invalid-feedback">
                      {{ block_form.block_name.errors[0] }}
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    {{ block_form.parent_umbrella.label }} 
                    {{ block_form.parent_umbrella(class="input") }} 
  
                    <div class="invalid-feedback">
                      {{ block_form.parent_umbrella.errors[0] }}
                    </div>
                  </div>
                </div>
              </div>
              <button type="submit" name="block_submit" class="submit-btn">
                {{ block_form.submit.label.text }}
            </button>
  
            {{ render_flash_messages() }}
  
            </form>
          </div>
  
          <!--/ BLOCK DEFINITION -->
  
          <!--ZONE DEFINITION -->
          <div id="zone" class="tab-pane fade {% if active_tab == 'zone' %}show active{% endif %}">
            <p>
              Define zones within each block to make it easier when allocating
              block event to zone members.
            </p>
            <form method="POST" action="{{url_for('main.settings')}}">
              {{ zone_form.hidden_tag() }}
              <div class="row p-4">
                <div class="col-md-6">
                  <div class="mb-3">
                    {{ zone_form.zone_name.label }} {{ zone_form.zone_name(class="input") }}
                    <div class="invalid-feedback">
                      {{ zone_form.zone_name.errors[0] }}
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    {{ zone_form.parent_block.label }} 
                    {{ zone_form.parent_block(class="select") }}
                    <div class="invalid-feedback">
                      {{ zone_form.parent_block.errors[0] }}
                  </div>
                </div>
              </div>
              </div>
              <button type="submit" name="zone_submit" class="submit-btn">
                {{ zone_form.submit.label.text }}
            </button>
  
            {{ render_flash_messages() }}
  
            </form>
          </div>
  
          <!--/ ZONE DEFINITION -->
  
      <!--ADD MEMBERS -->
      <div id="member" class="tab-pane fade {% if active_tab == 'member' %}show active{% endif %}">
        <p class="text-center">
          Each zone has distinct members, please add the different members of
          the zone.
        </p>
        <form action="{{url_for('main.settings',tab='member')}}" method="POST">
          {{ member_form.hidden_tag() }}            
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                {{ member_form.full_name.label }} {{ member_form.full_name(class="input") }}
                <div class="invalid-feedback">
                  {{ member_form.full_name.errors[0] }}
              </div>
            </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
  
              {{ member_form.phone_number.label }} {{ member_form.phone_number(class="input") }}
              <div class="invalid-feedback">
                {{ member_form.phone_number.errors[0] }}
            </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                {{ member_form.id_number.label }} {{ member_form.id_number(class="input") }}
                <div class="invalid-feedback">
                  {{ member_form.id_number.errors[0] }}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                {{ member_form.member_zone.label }}
                 {{ member_form.member_zone(class="select") }}
                <div class="invalid-feedback">
                  {{ member_form.member_zone.errors[0] }}
  
              </div>
            </div>
          </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                {{ member_form.bank.label }} {{ member_form.bank(class="select") }}
                <div class="invalid-feedback">
                  {{ member_form.bank.errors[0] }}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                {{ member_form.acc_number.label }} {{ member_form.acc_number(class="input") }}
                <div class="invalid-feedback">
                  {{ member_form.acc_number.errors[0] }}
  
              </div>
            </div>
          </div>
          </div>
          <button type="submit" name="member_submit" class="submit-btn">
            {{ member_form.submit.label.text }}
        </button>
  
        {{ render_flash_messages() }}
        </form>
      </div>
  
      <!--/ ADD MEMBERS -->
        </div>
      </div>
    </div>
  </div>
  
  <script>
    function getCsrfToken() {
      return document.querySelector('meta[name="csrf-token"]').getAttribute('content');
  }
 
  </script>
  
  {% endblock %}